#######################################
# Maven
#######################################
target/
*.log
*.tmp

#######################################
# IDE - IntelliJ IDEA
#######################################
.idea/
*.iml
*.iws
*.ipr
out/

#######################################
# IDE - Eclipse
#######################################
.classpath
.project
.settings/

#######################################
# VS Code
#######################################
.vscode/

#######################################
# OS Files
#######################################
.DS_Store
Thumbs.db

#######################################
# Selenium / Test Artifacts
#######################################
screenshots/
reports/
test-output/
allure-results/
allure-report/

#######################################
# Environment / Secrets
#######################################
.env
*.key
*.crt

#######################################
# Logs
#######################################
logs/
*.log

#######################################
# Temporary Files
#######################################
*.swp
*.bak
*.tmp
